<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width , initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0">

		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>FaceCertification</title>
		{% endif %}
		<!-- Bootstrap -->
		<style>
			html {
				overflow: scroll;
				-webkit-overflow-scrolling: touch;
				height: 100%;
			}
			body {
				position: absolute;  /* またはfixed */
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow: auto;
			}
		</style>
		
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script src="/static/js/faceDetectUtils.js"></script>

	</head>
	<body onload="init();">
		<script src="//adm.shinobi.jp/s/b1810890209d6bf51c26c9490faf9d9e"></script>
		{% block content %}{% endblock %}
		<div class="background" data-position="fixed">
			&nbsp;
		<div>
	</body>
</html>
