{% extends "base_layout.html" %}
{% block content %}
		<script type="text/javascript">
			
			var drawCropFaceImage = function(imgContext, faceContext, cropX, cropY, cropWidth, cropHeight){
				imageDataFaceCrop = imgContext.getImageData(cropX, cropY, cropWidth, cropHeight);
				faceContext.canvas.width = imageDataFaceCrop.width;
				faceContext.canvas.height = imageDataFaceCrop.height;
				faceContext.putImageData(imageDataFaceCrop, 0, 0);
			};
			
			var drawFaceRect = function(imgContext, face){
				imgContext.lineWidth = 3;
				imgContext.strokeStyle = 'rgb(192, 80, 77)';
				imgContext.strokeRect(face.x, face.y, face.width, face.height);
				imgContext.strokeStyle = 'rgb(255, 255, 255)';
			};
			
			var drawAndConvertTo32Rect = function(imgContext, canvas){
				// 顔矩形データを切り出して32の幅に加工する
				imgContext.save();
				imgContext.scale(32 / canvas.width, 32 / canvas.height);
				imgContext.clearRect(0, 0, canvas.width, canvas.height);
				imgContext.drawImage(document.getElementById('face'), 0, 0);
				const imageDataScaled = imgContext.getImageData(0, 0, imgContext.canvas.width, imgContext.canvas.height);
				imgContext.restore();
				
				return imageDataScaled;
			};
			
			function init() {
				var utils = new Utils('errorMessage');
				var openCVLoaded = false;

				var video = document.createElement('video');
				video.setAttribute('autoPlay','true');
				const canvas = document.getElementById('webcamLive');
				const context = canvas.getContext('2d');
				const ctxface = document.getElementById('face').getContext('2d');
				const ctxScaled = document.getElementById('scaledFace').getContext('2d');
				
				var videoCount = 0;
				
				utils.loadOpenCv(() => {
					let faceCascadeFile = 'haarcascade_frontalface_alt.xml';
					utils.createFileFromUrl(faceCascadeFile, faceCascadeFile, () => {
						openCVLoaded = true;
					});
				});

				navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
				
				
				navigator.getUserMedia(
					{video: true},
					function(stream){
						video.srcObject = stream;

						video.addEventListener('loadedmetadata', function(){
							canvas.width = video.videoWidth;
							canvas.height = video.videoHeight;

							(function animation(){
								context.drawImage(video, 0, 0);
								if (!openCVLoaded){
									videoCount++;
									$(".videoCount").text(videoCount);

									requestAnimationFrame(animation);
									return;
								}
								utils.clearError();
						
								var src = cv.imread('webcamLive');
								var gray = new cv.Mat();
								cv.cvtColor(src, gray, cv.COLOR_RGBA2GRAY, 0);
								var faces = new cv.RectVector();
								var faceCascade = new cv.CascadeClassifier();
								// load pre-trained classifiers
								faceCascade.load('haarcascade_frontalface_alt.xml');
								// detect faces
								let msize = new cv.Size(0, 0);
								faceCascade.detectMultiScale(gray, faces, 1.1, 3, 0, msize, msize);
								for (let i = 0; i < faces.size(); ++i) {
									let point1 = new cv.Point(faces.get(i).x, faces.get(i).y);
									let point2 = new cv.Point(faces.get(i).x + faces.get(i).width, faces.get(i).y + faces.get(i).height);
									cv.rectangle(src, point1, point2, [255, 0, 0, 255]);

									drawCropFaceImage(context, ctxface, faces.get(i).x, faces.get(i).y, faces.get(i).width, faces.get(i).height);
									var imageDataScaled = drawAndConvertTo32Rect(ctxScaled, ctxface.canvas);
									drawFaceRect(context, faces.get(i));
								}
								cv.imshow('face', src);
								src.delete(); gray.delete(); faceCascade.delete();
								faces.delete();
								
								videoCount++;
								$(".videoCount").text(videoCount);

								requestAnimationFrame(animation);
							})();
						});
					},
					console.log
				);
			}
		</script>
		<div class="canvaContainer">
			<canvas id="webcamLive"></canvas>
			<div class="videoCount" style="display:none;"></div>
			<div class="category"></div>
		</div>
		<div class="buttonArea">
			<div id="errorMessage" style="color:rgba(255,0,0,1);font-weight:bold;"></div>
		</div>
		<div class="canvaContainer">
			<canvas id="face" style="display:none;"></canvas>
		</div>
		<div class="canvaContainer">
			<canvas id="scaledFace" style="display:none;" width="32" height="32"></canvas>
		</div>

{% endblock %}
